<div class="thankYou light-bg">
    <div class="thankYou-message">
        <h2>Thank You</h2>
        <div class="subtext">
            <br />
            <p>Thank you for scheduling appointment. We look forward to see you{{ appointmentDateAndTime }}</p>
            <br />
            <p>
              In the meantime, stay connected with us for the latest updates:
              <a class="pointer" target="_blank" href="https://www.facebook.com/profile.php?id=100091940556355">Facebook</a> and
              <a class="pointer" target="_blank" href="https://www.instagram.com/pelicanzonenola/">Instagram</a>.
            </p>
        </div>
    </div>
</div>